/*General Selectors*/

html
{
    background-image: url('https://media.contentapi.ea.com/content/dam/ufc/images/2017/10/easufc3-overview-championshipfighters.jpg.adapt.crop191x100.628p.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label
{
    font-weight: bold;
    grid-column: 1/2;
}

input, option, button, textarea
{
    grid-column: 2/3;
}

/*ID Selectors (#)*/


#survey-form
{
    background-color: hsla(14,98%,50%,0.5);
   /* padding: 20px;
    height: 100%;*/ 
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 25px;
    padding: 40px;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    border-radius: 25px;
    
    
}
#form-intro
{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
}



/*Class Selectors (.)*/

/*Pseudo-Class Selectors*/
