/*General Selectors*/

html
{
    background-image: url('https://media.contentapi.ea.com/content/dam/ufc/images/2017/10/easufc3-overview-championshipfighters.jpg.adapt.crop191x100.628p.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*ID Selectors (#)*/

#title
{
    color: black;
}
#form-container
{
    padding: 20px;
    height: 100%;
    background-color: brown;
    
}


/*Class Selectors (.)*/

/*Pseudo-Class Selectors*/
